################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First_MvC_Project
/Shopify
/ShopifyServer
