################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First_MvC_Project
/Shopify
/ShopifyServer
/ShopServerSolution/ShopServer/bin/Debug/net8.0
/ShopServerSolution/.vs/ProjectEvaluation
/ShopServerSolution/.vs/ShopServerSolution/FileContentIndex
/ShopServerSolution/.vs/ShopServerSolution/config
*.v2
/ShopServerSolution/.vs/ShopServerSolution/v17/.suo
/ShopServerSolution/.vs/ShopServerSolution/v17/DocumentLayout.json
/ShopServerSolution/.vs/ShopServerSolution/DesignTimeBuild/.dtbcache.v2
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ref/ShopServer.dll
/ShopServerSolution/ShopServer/obj/Debug/net8.0/refint/ShopServer.dll
/ShopServerSolution/ShopServer/obj/Debug/net8.0/staticwebassets
/ShopServerSolution/ShopServer/obj/Debug/net8.0/apphost.exe
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.AssemblyInfoInputs.cache
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.csproj.BuildWithSkipAnalyzers
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.csproj.CoreCompileInputs.cache
*.Up2Date
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.dll
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.genruntimeconfig.cache
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.MvcApplicationPartsAssemblyInfo.cache
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.pdb
/ShopServerSolution/ShopServer/obj/Debug/net8.0/staticwebassets.build.json
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.MvcApplicationPartsAssemblyInfo.cs
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.sourcelink.json
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.csproj.FileListAbsolute.txt
/ShopServerSolution/ShopServer/obj/Debug/net8.0/ShopServer.AssemblyInfo.cs
